@using Microsoft.EntityFrameworkCore;
@using CabManagementSystem.AppContext;
@using CabManagementSystem.Models;

@model UserModel
@{
    Layout = "~/Views/Shared/_LayoutHeader.cshtml";
    var PathSerialization = "D:/CabManagementSystem/CabManagementSystem/Data/Json/taxi.json";
    var applicationContext = new ApplicationContext(new DbContextOptions<ApplicationContext>());
    var taxiContext = new TaxiContext(new DbContextOptions<TaxiContext>());
    var json = applicationContext.DeserializeData(PathSerialization);
    //
    var ListOfIDs = ApplicationContext.GetTaxiPropList("ID");
    var select = applicationContext.AdminHandling.Any(x => x.UserID == Model.ID) ? applicationContext.AdminHandling.First(x => x.UserID == Model.ID).SelectMode : 0;
}
<title>Admin Panel</title>

<div class="container">
    <form method="post" asp-controller="Admin" asp-action="AddTaxi" id="add-taxi-id">
        <div>
            <label asp-for="Taxi.TaxiClass"></label><br />
            <input value="" asp-for="Taxi.TaxiClass" id="taxi" />
        </div>
        <div>
            <label asp-for="Taxi.TaxiNumber"></label><br />
            <input value="" asp-for="Taxi.TaxiNumber" id="taxi" />
        </div>
        <div>
            <label asp-for="Taxi.DriverID"></label><br />
            <input value="" asp-for="Taxi.DriverID" id="taxi" />
        </div>
        <input type="submit" value="Add Taxi" id="submit-button-add-taxi" />
    </form>
    <form method="post" asp-controller="Admin" asp-action="EditTaxi">
        <div>
            <label asp-for="Taxi.ID"></label><br />
            <input value="" asp-for="Taxi.ID" id="taxi" />
        </div>
        <div>
            <label asp-for="Taxi.TaxiClass"></label><br />
            <input value="" asp-for="Taxi.TaxiClass" id="taxi" />
        </div>
        <div>
            <label asp-for="Taxi.TaxiNumber"></label><br />
            <input value="" asp-for="Taxi.TaxiNumber" id="taxi" />
        </div>
        <input type="submit" value="Edit Taxi" />
    </form>
    <form method="post" asp-controller="Admin" asp-action="DeleteTaxi">
        <div>
            <label asp-for="Taxi.ID"></label><br />
            @if (select == SelectModeEnum.BySelect)
            {
                <select>
                    @foreach (var id in ListOfIDs)
                    {
                        <option value="@id">@id</option>
                    }
                </select>
            }
            else
            {
                <input value="" asp-for="Taxi.ID" id="taxi" />
            }
        </div>
        <input type="submit" value="Delete Taxi" />
    </form>
    <form method="post" asp-controller="Admin" asp-action="ChangeSelectMode">
        <div>
            <label>Default</label>
            <input name="selectMode" type="radio" value="@SelectModeEnum.Default" /><br />
            <label>ByInput</label>
            <input name="selectMode" type="radio" value="@SelectModeEnum.ByInput" /><br />
            <label>BySelect</label>
            <input name="selectMode" type="radio" value="@SelectModeEnum.BySelect" /><br />
            <input type="submit" value="Change" />
        </div>
    </form>
</div>