@using Microsoft.EntityFrameworkCore;
@using CabManagementSystem.AppContext;
@{
    Layout = "~/Views/Shared/_LayoutHeader.cshtml";
    var path = "D:/CabManagementSystem/CabManagementSystem/Data/Json/time.json";
    var orderContext = new OrderContext(new DbContextOptions<OrderContext>());
    var applicationContext = new ApplicationContext(new DbContextOptions<ApplicationContext>());
    var taxiContext = new TaxiContext(new DbContextOptions<TaxiContext>());
    var orderTimeModel = (OrderTimeModel.DeserializeTaxiData(path).FirstOrDefault(x => x.UserID == Model.ID));
    var orderTimeLeftMinutes = orderTimeModel.ArrivingTime.Minute;
    var orderTimeLeftSeconds = orderTimeModel.ArrivingTime.Second;
}
@model UserModel

<title>Home</title>
<div class="container">
    @if (Model.HasOrder)
    {
        <h4>
            <p>
                <strong id="arrived">Before arriving taxi left </strong>
                <strong id="arrivingTime">
                </strong>
            </p>
        </h4>
        <p><strong>ID: @Model.Taxi.ID</strong></p>
        <p><strong>Driver's Name: @Model.Order.DriverName</strong></p>
        <p><strong>Taxi's Number: @Model.Taxi.TaxiNumber</strong></p>
        <p><strong>Taxi's Class: @Model.Taxi.TaxiClass</strong></p>
        <p><strong>Price: ₽@Model.Taxi.Price.GetHashCode()</strong></p>
        <p><strong>Special Name: @Model.Taxi.SpecialName</strong></p>
    }
    else
    {
        <form method="post" asp-controller="Home" asp-action="OrderTaxi">
            <div asp-validation-summary="ModelOnly"></div>
            <div>
                <label asp-for="Order.PhoneNumber"></label><br />
                <input value="" asp-for="Order.PhoneNumber" />
                <span asp-validation-for="Order.PhoneNumber"></span>
            </div>
            <div>
                <label asp-for="Order.Description"></label><br />
                <input value="" asp-for="Order.Description" />
                <span asp-validation-for="Order.Description"></span>
            </div>
            <div>
                <label asp-for="Order.Address"></label><br />
                <input value="" asp-for="Order.Address" />
                <span asp-validation-for="Order.Address"></span>
            </div>
            <div>
                <input type="submit" value="Order Taxi" style="margin-top: 10px; " />
            </div>
        </form>
    }
</div>
<br />
<div>
    <h3>Your last order</h3>
    <form method="post" asp-controller="Home" asp-action="EditOrder">
        <div asp-validation-summary="ModelOnly"></div>
        <div>
            <label asp-for="Order.PhoneNumber"></label><br />
            <input asp-for="Order.PhoneNumber" />
            <span asp-validation-for="Order.PhoneNumber"></span>
        </div>
        <div>
            <label asp-for="Order.Description"></label><br />
            <input asp-for="Order.Description" />
            <span asp-validation-for="Order.Description"></span>
        </div>
        <div>
            <label asp-for="Order.Address"></label><br />
            <input asp-for="Order.Address" />
            <span asp-validation-for="Order.Address"></span>
        </div>
        <div>
            <input type="submit" value="Edit Order" style="margin-top: 10px; " />
        </div>
    </form>
    <form method="post" asp-controller="Home" asp-action="OrderCancellation">
        <input type="hidden" asp-for="Order.PhoneNumber" value="@Model.Order.PhoneNumber" />
        <input type="hidden" asp-for="Order.Description" value="@Model.Order.Description" />
        <input type="hidden" asp-for="Order.Address" value="@Model.Order.Address" />
        <input type="submit" value="Order Cancellation" style="margin-top: 10px; " />
    </form>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/script.js"></script>
<script>
    getTimes(@orderTimeLeftMinutes, @orderTimeLeftSeconds);
    asyncReloadOrderTime();
</script>