@using Microsoft.EntityFrameworkCore;
@using CabManagementSystem.AppContext;
@{
    Layout = "~/Views/Shared/_LayoutHeader.cshtml";
    var path = "D:/CabManagementSystem/CabManagementSystem/Data/Json/time.json";
    var orderContext = new OrderContext(new DbContextOptions<OrderContext>());
    var applicationContext = new ApplicationContext(new DbContextOptions<ApplicationContext>());
    var orderTimeModel = OrderTimeModel.DeserializeTimeModelJson(path).FirstOrDefault(x => x.UserID == Model.ID);
    var orderTimeLeftMinutes = 0;
    var orderTimeLeftSeconds = 0;
    if (orderTimeModel is not null)
    {
        orderTimeLeftMinutes = orderTimeModel.ArrivingTime.Minute;
        orderTimeLeftSeconds = orderTimeModel.ArrivingTime.Second;
    }
}
@model UserModel

<title>Home</title>
<div class="container">
    @if (Model.HasOrder)
    {
        <h4>
            <p>
                <strong id="arrived">Before arriving taxi left </strong>
                <strong id="arrivingTime"></strong>
            </p>
        </h4>
        <p><strong>ID: @Model.Order.ID</strong></p>
        <p><strong>Price: ₽@Model.Order.Price.GetHashCode()</strong></p>
        <p><strong>Address: @Model.Order.Address</strong></p>
        <p><strong>Driver's Name: @Model.Driver.Name</strong></p>
        <p><strong>Driver's Phone Number: @Model.Driver.PhoneNumber</strong></p>
    }
    else
    {
        <form method="post" asp-controller="Home" asp-action="OrderTaxi">
            <div asp-validation-summary="ModelOnly"></div>
            <div>
                <label asp-for="Order.PhoneNumber"></label><br />
                <input value="" asp-for="Order.PhoneNumber" />
                <span asp-validation-for="Order.PhoneNumber"></span>
            </div>
            <div>
                <label asp-for="Order.Description"></label><br />
                <input value="" asp-for="Order.Description" />
                <span asp-validation-for="Order.Description"></span>
            </div>
            <div>
                <label asp-for="Order.Address"></label><br />
                <input value="" asp-for="Order.Address" />
                <span asp-validation-for="Order.Address"></span>
            </div>
            <div>
                <select asp-for="@Model.Order.Price">
                    <option value="@TaxiPrice.Buisness">Buisness</option>
                    <option value="@TaxiPrice.Premium">Premium</option>
                    <option value="@TaxiPrice.Comfort">Comfort</option>
                    <option value="@TaxiPrice.Economy">Economy</option>
                </select>
            </div>
            <div>
                <input type="submit" value="Order Taxi" style="margin-top: 10px; " />
            </div>
        </form>
    }
</div>
<br />
@if (Model.HasOrder)
{
    <div>
        <h3>Your last order</h3>
        <form method="post" asp-controller="Home" asp-action="EditOrder">
            <div asp-validation-summary="ModelOnly"></div>
            <div>
                <label asp-for="Order.PhoneNumber"></label><br />
                <input asp-for="Order.PhoneNumber" />
                <span asp-validation-for="Order.PhoneNumber"></span>
            </div>
            <div>
                <label asp-for="Order.Description"></label><br />
                <input asp-for="Order.Description" />
                <span asp-validation-for="Order.Description"></span>
            </div>
            <div>
                <label asp-for="Order.Address"></label><br />
                <input asp-for="Order.Address" />
                <span asp-validation-for="Order.Address"></span>
            </div>
            <div>
                <input type="submit" value="Edit Order" style="margin-top: 10px; " />
            </div>
        </form>
        <form method="post" asp-controller="Home" asp-action="OrderCancellation">
            <input type="hidden" asp-for="Order.PhoneNumber" value="@Model.Order.PhoneNumber" />
            <input type="hidden" asp-for="Order.Description" value="@Model.Order.Description" />
            <input type="hidden" asp-for="Order.Address" value="@Model.Order.Address" />
            <input type="submit" value="Order Cancellation" style="margin-top: 10px; " />
        </form>
    </div>
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/script.js"></script>
<script>
    getTimes(@orderTimeLeftMinutes, @orderTimeLeftSeconds);
    asyncReloadOrderTime();
</script>